
#wepp-header {
 background-color: #455372;
 height: 5em;
}
#wepp-header-logo {
    padding-left: 10px;
    padding-top: 10px;
    float: left;
}
#wepp-header-rlogo {
    padding-right: 10px;
    padding-top: 10px;
    float: right;
}
#wepp-header-rlogo img{
	border: 0px;
}
#wepp-header h1 {
    margin-left: 20px;
    font-size: 1.30em;
    color: #fff;
	float: left;
}
#wepp-header ul {
    list-style: none;
}
#wepp-header li {
	float: right;
	padding: 0 6px 0 0;
	margin: 0 1px 0 0;
	border-bottom: 1px solid #515358;
}
#wepp-header ul a {
        float: left;
        display: block;
        padding: 4px 4px 4px 10px;
        font-weight: bold;
        color: #fff;
        text-decoration: none;
}

	
#mainNavOuter {
	width: 100%;
	background-position: bottom right;
	background-repeat: no-repeat;
	background-color: #c00;
	}
	
#mainNav {
	width: 100%;
	font-weight: bold;
	font-size: x-small;
	}
	
	
/* float clear hack that has been hacked for Moz 1.5x and below */
#mainNavOuter:after {
    content: "."; 
    display: block; 
    height: 1px;
    margin-top: -1px;
    overflow: hidden;
    clear: both; 
    visibility: hidden;
    }
    /* Holly Hack Targets IE Win only \*/
    * html .mainNavOuter {height: 1%;}
    /* End Holly Hack */
    
    
#mainNavInner {
	width: 100%;
	height: 7px;
	}
	
#mainNav ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
	}
	
#mainNav ul li {
	background: #b70000;
	display: block;
	float: left;
	padding: 0;
	margin: 0;
	}
	
#mainNav li#mainFirst-active,
#mainNav li#main-active,
#mainNav li#mainLast-active {
	background-color: #800000;
	}
	

#mainNav ul li a {
	display: block;
	float: left;
	text-decoration: none;
	color: #fff;
	padding: 5px 15px;
	font-size: 11px;
	text-decoration: none !important;
	}

#mainNav ul li a:hover {
	color: #000;
}
#linksbar {
    color: #eee;
}
#wepp-footer {
    text-align: center;
    color: #777;
    margin-bottom: 2em;
}
#iem_nav {
    border: 1px solid #ccc;
    border-top: 2px solid #ccc;
        height: 24px;
    width: 100%;
    min-width: 800px;
        clear: both;
        margin: 0px 0px 0px 0px;
        padding: 0px;
    background-color: #f0f4f5;
        }
#iem_nav ul {
        margin: 0px 0px 0px 5px;
        padding: 0px;
        list-style-type: none;
        }
#iem_nav ul li {
        margin: 0;
        display: block;
        float: left;
        white-space: nowrap;
        padding: 4px 12px;
        background-image: none;
        }
#iem_nav ul li a, 
#iem_nav ul li a:visited  {
        margin: 0px 0px 0px 0px;
        color: #00f;
        text-decoration: none;
        }
#iem_nav ul li a:hover, 
#iem_nav ul li a:active  {
        text-decoration: underline;
        }
#iem_nav ul li.selected {
        background-color: white;
    border: 2px solid #ccc;
        border-bottom: 2px solid #fff;
        padding: 3px 12px;
        }
/* Subnav bar! */
#iem_subnav {
        height: 30px;
        display: block;
        float: left;
        clear: both;
        width: 100%;
        margin: 0;
        padding: 0;
        overflow: hidden;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: 0px;
        }
#iem_subnav ul {
        margin: -10px 0 0 2px;
        padding: 0;
        list-style-type: none;
        }
#iem_subnav ul li {
        float: left;
        margin: 7px 0 0 0;
        padding: 10px 2px 10px 0;
        color: #333;
        font-size: 0.9em;
        }
#iem_subnav ul li a, 
#iem_subnav ul li a:visited  {
        margin: 0 0 0 0;
        padding: 10px 11px 10px 11px;
        color: #333;
        font-size: 0.9em;
        text-decoration: none;
        }
#iem_subnav ul li a:hover, 
#iem_subnav ul li a:active  {
        text-decoration: underline;
        }
#iem_subnav ul li.selected {
        font-weight: bold;
        }

